<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar border-bottom bg-white px-5">
      <a href="/restaurants" class="text-decoration-none"><h2>EAT</h2></a>
      <a href="/restaurants/new" class="text-decoration-none"><h6>New restaurant</h6></a>
    </div>

    <div class="container my-5">
      <%= yield %>
    </div>
  </body>
</html>
